.custom-div{
  width: 500px; /* w-full */
  max-width: 30rem; /* max-w-md */
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
  border-radius: 0.5rem; /* rounded-lg */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  padding-top: 1rem; /* py-4 */
  padding-bottom: 1rem; /* py-4 */
  margin-top: 2rem; /* my-8 */
  margin-bottom: 2rem; /* my-8 */
  background-color: #2d3748; /* bg-gray-800 */

}

.custom-input-2{
  width: 300px;
  height: 20px;
  color: orange;
  border-radius: 0.5rem;
}

.input{
  /* display: flex;  */
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);  */
  border-radius: 0.5rem; 
  overflow: hidden; 
  margin-bottom: 1rem; 
}

.custom-button{
  background-color: rgb(11, 170, 233);
  color: white;
  transition: background-color 0.3s;
  height: 25px;
  width: 50px;
  border-radius: 0.5rem;
}

.custom-button:hover{
  background-color: skyblue;
}

.custom-input{
  display: flex; 
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

.custom-input-1{
  display: flex; 
  align-items: center;
  margin-left: 0.25rem;
  color: orange;
  margin-left: 35px;
}

.cursor-pinter{
  cursor: pointer;
}
.custom-cursor {
  cursor: move; 
}

::selection {
  background-color: rgb(202, 198, 198); 
}